<div class="yoda-speak-container">
  <div class="left-content">
    <textarea
      class="input"
      ng-model="vm.sentence"
      placeholder="Insert a sentence here to speak yoda!">
    </textarea>
    <button
      class="translate"
      ng-click="vm.translate(vm.sentence)"
      ng-if="!vm.isTranslating">
      Translate
    </button>
    <div ng-if="vm.isTranslating" class="spinner spinner-bounce-middle"></div>
  </div>
  <div class="right-content">
    <span ng-bind="vm.sentenceTranslated"></span>
  </div>
</div>
