.yoda-speak-container {
  border: 1px solid black;
  display: flex;
  flex-flow: row wrap;
  min-height: 150px;

  & > div {
    margin: 10px;
    min-height: 130px;
    position: relative;
    flex: 1 300px;
    word-wrap: break-word;

    textarea.input {
      box-sizing: border-box;
      position: absolute;
      top: 0px;
      bottom: 30px;
      width: 100%;
    }

    button.translate,
    div.spinner {
      position: absolute;
      bottom: 0px;
      height: 20px;
    }

    button.translate {
      width: 100%;
    }

    div.spinner {
      left: 0px;
      right: 0px;
      margin: auto;
    }
  }
}

/* ============================================= */
/* SPINNER BOUNCE MIDDLE                         */
/* Credit:                                       */
/*   http://codepen.io/arthurcamara1/pen/LpNwyq  */
/* ============================================= */

.spinner, .spinner:before, .spinner:after {
  width: 4px;
  height: 20px;
  background-color: #00B285;
  border-radius: 2px;
}

.spinner {
  display: inline-block;
  position: relative;
}
.spinner:before, .spinner:after {
  content: "";
  position: absolute;
  display: block;
  top: 0px;
}
.spinner:before {
  left: -6px;
}
.spinner:after {
  left: 6px;
}

@-webkit-keyframes bounce-middle {
  0% {
    height: 4px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  50% {
    height: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  100% {
    height: 4px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
@keyframes bounce-middle {
  0% {
    height: 4px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  50% {
    height: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  100% {
    height: 4px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
.spinner-bounce-middle {
  -webkit-animation: bounce-middle 0.6s ease 0.1s infinite;
          animation: bounce-middle 0.6s ease 0.1s infinite;
}
.spinner-bounce-middle:before, .spinner-bounce-middle:after {
  top: 50%;
  -webkit-transform: translateY(-10px) translateZ(0);
          transform: translateY(-10px) translateZ(0);
}
.spinner-bounce-middle:before {
  -webkit-animation: bounce-middle 0.6s ease 0s infinite;
          animation: bounce-middle 0.6s ease 0s infinite;
}
.spinner-bounce-middle:after {
  -webkit-animation: bounce-middle 0.6s ease 0.2s infinite;
          animation: bounce-middle 0.6s ease 0.2s infinite;
}
